#Footer__Black {
   margin: 300px 0 0 0;
   width: 100%;
   background-color: #000000;
}

.Footer__1 {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 20px 0px 20px 0px;
}

.Footer__1 h2 {
   width: 500px;
   font-size: 1.5rem;
   font-weight: 400;
   color: var(--second);
}

.Footer__1__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.Footer__1__content input {
   width: 200px;
   height: 50px;
   padding: 0px 20px;
   margin: 0px 20px 0px 0px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: var(--second);
}

.Footer__1__content button {
   width: 90px;
   height: 50px;
   font-family: Montserrat;
   font-weight: 400;
   background-color: var(--first);
}

.Footer__1__text {
   display: flex;
   align-items: end;
   flex-direction: column;
   justify-content: end;
   width: 100%;
   margin-top: -15px;
}

.Footer__1__text p {
   font-size: 0.8rem;
   font-weight: 400;
   color: #979797;
}

/* /////////////////////////////////////////////////////////////// */

#Footer__Blue {
   width: 100%;
   background-color: var(--first);
   padding: 50px 0px;
}

.FooterBlue__2__grid {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.Footer__grid__1 {
   display: flex;
   flex-direction: column;
   width: 300px;
   gap: 20px;
}

.Footer__grid__1 h2 {
   font-size: 1.8rem;
   color: var(--second);
}

.Footer__grid__1 p {
   font-size: 1rem;
   color: var(--second);
}

.Footer__grid__1 input {
   width: 200px;
   height: 50px;
   padding: 0px 20px;
   margin: 0px 20px 0px 0px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: var(--second);
}

.Footer__grid__1 button {
   width: 240px;
   height: 45px;
   font-family: Montserrat;
   font-weight: 400;
   color: var(--second);
   border: 1px solid var(--second);
   background-color: transparent;
}

.Footer__grid__2 {
   display: flex;
   flex-direction: column;
   width: 200px;
   gap: 5px;
}

.Footer__grid__2 h2 {
   font-size: 1.5rem;
   color: var(--second);
}

.Footer__grid__2 a {
   font-size: 0.9rem;
   color: #ffffff8c;
   cursor: pointer;
}

.Footer__grid__3 {
   display: flex;
   flex-direction: column;
   align-items: start;
   width: 200px;
   gap: 5px;
}


.Footer__grid__3 h3 {
   color: var(--second);
}

.Footer__grid__3 a {
   font-size: 0.9rem;
   color: #ffffff8c;
   cursor: pointer;
}

.Footer__grid__social {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 110px;
   padding: 10px 0px;
   font-size: 1.2rem;
   color: var(--second);
   cursor: pointer;
}

.copy {
   margin: 50px 0px 0px 0px;
   padding: 25px 0px 0px 0px;
   border-top: 1px solid #ffffff9f;
}

.copy a {
   font-size: 0.7rem;
   color: #ffffff6b;
}

@media (max-width: 700px) {
   #Footer__Black {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 100px 0 0 0;
   }

   .Footer__1 h2 {
      width: 100%;
      padding: 5px 20px 25px;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      color: var(--second);
   }

   .Footer__1__content {
      flex-direction: column;
      justify-content: center;
      width: 100%;
   }

   .Footer__1__content h2 {
      padding: 0px 0px 20px;
   }

   .Footer__1__content input {
      width: 180px;
      height: 50px;
      padding: 0px 20px;
      margin: 0px 20px 0px 0px;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: var(--second);
   }
   
   .Footer__1__content button {
      width: 90px;
      height: 50px;
      font-family: Montserrat;
      font-weight: 400;
      background-color: var(--first);
   }

   .Footer__1__text {
      display: flex;
      align-items: end;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      margin-top: 15px;
   }

   #Footer__Blue {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 50px 0px;
   }

   .FooterBlue__2__grid {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      padding: 0px 0px 0px 0px;
   }

   .copy {
      width: 100%;
      margin: 50px 0px 0px 0px;
      padding: 25px 0px 0px 0px;
      border-top: 1px solid #ffffff9f;
   }
}