#ITICoursesDetails {
   padding: 50px 0px;
}

#ITICoursesDetails h2 {
   color: var(--first);
}

table {
   border-collapse: collapse;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 700px;
   margin: 20px 0px 0px 0px;
   font-family: Montserrat;
   border: 1px solid #d8d8d8;
}

th {
   text-align: center;
   width: 350px;
   height: 50px;
   border: 1px solid #d8d8d8;
   background-color: #f0f2f3;
   color: var(--first);
}

td {
   text-align: center;
   width: 350px;
   height: 50px;
   border: 1px solid #d8d8d8;
}

@media (max-width: 700px) {
   table {
      border-collapse: collapse;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 330px;
      margin: 20px 0px 0px 0px;
      font-family: Montserrat;
      border: 1px solid #d8d8d8;
   }

   th {
      text-align: center;
      width: 165px;
      height: 50px;
      border: 1px solid #d8d8d8;
      background-color: #f0f2f3;
      color: var(--first);
   }
   
   td {
      text-align: center;
      width: 165px;
      height: 50px;
      border: 1px solid #d8d8d8;
   }
}